@using prjTravelDateT1.Models;
@model List<CFilteredProduct>

@{
    ViewBag.Title = "SearchList";
}

<h2>SearchList</h2>

<div class="col-9">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].fCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].OutlineForSearch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].fDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].fPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].fType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].fProductTags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].fPhoto)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutlineForSearch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fProductTags)
                </td>
                <td>
                    @if (item.fPhoto != null)
                    {
                        <img src="data:image/jpg;base64,@Convert.ToBase64String(item.fPhoto)" alt="@item.ProductName" width="200" height="150" />
                    }
                </td>

            </tr>
        }
    </table>
    </div>
<div class="row gap-0 column-gap-5 justify-content-center">
    <div class="col-3 border g-0">
        
        <div class="border mb-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
   
    <div class="col-7 border g-0 justify-content-end">
        <div class="row g-0">
            @foreach (var item in Model)
            {
                <input type="hidden" value="@Html.DisplayFor(modelItem => item.fProductTags)" />

                string salesCount = "";
                if (item.fOrederCount > 1000)
                {

                    salesCount = $"{item.fOrederCount / 1000} K+ 個已訂購";
                }
                else
                {
                    salesCount = $"{item.fOrederCount} 個已訂購";
                }
                <div class="card mb-3 col-12">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="data:image/jpg;base64,@Convert.ToBase64String(item.fPhoto)" class="img-fluid rounded-start" alt="@item.ProductName">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.OutlineForSearch) 商品列表中的outline for search</p>
                                <p class="card-text">
                                    <small class="text-body-secondary">@Html.DisplayFor(modelItem => item.fDate) 前</small>
                                    <small class="text-body-secondary"> | @Html.DisplayFor(modelItem => item.fCity) </small>
                                </p>
                                <div class="row align-items-end">
                                    <div class="col">
                                        <p class="card-text">
                                            <small class="text-body-secondary">@Html.DisplayFor(modelItem => item.strComment)</small>
                                            <small class="text-body-secondary"> | @salesCount</small>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text fs-5 fw-bolder text-end"><span>TWD </span>@Html.DisplayFor(modelItem => item.fPrice)<span class="fs-6 fw-normal">起</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
