@using prjTravelDateT1.Models;
@model List<CFilterProduct>

@{
    ViewBag.Title = "SearchList";
}

<h2>SearchList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].ProductID)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Select(p => p.ProductID))
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model[0].ProductName))
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].fCity))
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].OutlineForSearch))
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].fDate))
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].fPrice))
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutlineForSearch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fPrice)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
<div class="main">
    <div class="col-3 filter-group">
        <div class="filter_block">
            <label class="t-l filter-title">篩選目的地</label>
            <div class="controls-display-row search_container">
                <img class="icon_search" src="~/TestCss/icon/search.png">
                <input type="text" placeholder="搜尋目的地">
            </div>
            <div class="controls-display-column">
                <div class="controls-display-row category-click">
                    <label class="t-m lblCategory">台灣</label>
                    <div class="arrow_img_center">
                        <img id="arrow_bottom_down" src="~/TestCss/icon/arrow_bottom_down_icon.png">
                        <img id="arrow_top_up" src="~/TestCss/icon/arrow_top_up_icon.png">
                    </div>
                </div>
                <div class="filter-block-center">
                    <ul class="tags" id="city">
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter_block">
            <label class="t-l filter-title">所有商品類別</label>
            <div class="controls-display-column" id="product_category">
            </div>
        </div>
        <div class="filter_block">
            <label class="t-l filter-title" id="selected_date">篩選日期</label>
        </div>
        <div class="filter_block">
            <label class="t-l filter-title">價錢(TWD)</label>
        </div>
        <div class="filter_block">
            <label class="t-l filter-title">商品類型</label>
            <div class="controls-display-column" id="product_category">
                <div class="filter-block-center">
                    <ul class="tags" id="product_type">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9 result-group">
        <div class="result_block">
            <div class="selected-result">
                <div class="selected-count divide-line">
                    <span class="t-m font-weight">504</span><span class="t-s">項體驗行程</span>
                </div>
                <div class="sort text_secondary">
                    <span class="t-m font-weight text_primary">排序 : </span>
                    <span class="t-s">
                        |
                        <a class="sort-a text_secondary font-weight">熱門程度</a>
                    </span>
                    <span class="t-s">
                        |
                        <a class="sort-a text_secondary font-weight">用戶評價</a>
                    </span>
                    <span class="t-s">
                        |
                        <a class="sort-a text_secondary font-weight">價格排序(低到高)</a>
                    </span>
                </div>
            </div>
            <div>
                <div class="product-card">
                    商品1
                </div>
                <div class="product-card">
                    商品2
                </div>
                <div class="product-card">
                    商品3
                </div>
                <div class="product-card">
                    商品4
                </div>
                <div class="product-card">
                    商品5
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/TestCss/search_drop_down_list.js"></script>
<script src="~/TestCss/search_jq.js"></script>